.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
  /* background-color: cornflowerblue; */
}

.back > a {
  position: fixed;
  top: 0%;
  color: white;
  font-size: 40px;
  margin: 15px;
  display: block;
}
h2 {
  color: firebrick;
}
.drills {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
}
body {
  background-color: black;
}

.drill {
  position: inherit;
  border-left: 2px solid dodgerblue;
  /* padding: 20px; */
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  /* margin-left: 150px; */
  height: auto;
  width: 80vw;
}
.drill1 {
  position: inherit;
  border-left: 2px solid green;

  /* padding: 20px; */
  padding-right: 20px;
  padding-left: 20px;
  /* margin-left: 150px; */
  margin-bottom: 50px;
  height: auto;
  width: 80vw;
}
.drill2 {
  position: inherit;
  border-left: 2px solid red;
  /* padding: 20px; */
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
  /* margin-left: 150px; */
  height: auto;
  width: 80vw;
}
