* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.back > a {
  position: fixed;
  top: 0%;
  color: white;
  font-size: 40px;
  margin: 15px;
  display: block;
}

.navbar {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.nav-links {
  position: relative;
  top: 25%;
  width: 100%;
  display: grid;
  list-style-type: none;
  margin-top: 30px;
  text-align: center;
}

.navbar a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: green;
  display: block;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  color: whitesmoke;
}

.closebtn {
  float: right;
  font-size: 30px;
  color: gray;
  margin: 20px;
}

.hamburger {
  position: fixed;
  top: 0%;
  right: 0%;
  color: white;
  font-size: 30px;
  margin: 20px;
  display: block;
}
.logo {
  position: fixed;
  top: 0%;
  /* color: black; */
  font-size: 30px;
  /* margin: 20px; */
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  width: 10vw;
  height: 15vh;
}
@media screen and (max-width: 768px) {
  .nav-links {
    position: relative;
    top: 25%;
    width: 100%;
    display: grid;
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
  }
  .logo {
    position: fixed;
    top: 0%;
    /* color: black; */
    font-size: 30px;
    margin: 15px;
    display: block;
    width: 20vw;
    height: 10vh;
  }
  .hamburger {
    position: fixed;
    top: 0%;

    font-size: 30px;
    margin: 15px;
    display: block;
  }
  /* .pro > a {
    position: fixed;
    top: 3%;
    color: black;
    font-size: 30px;
    margin: 20px;
    display: block;
  } */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pro > a {
    position: fixed;
    top: 0%;
    color: black;
    font-size: 30px;
    margin: 20px;
    display: block;
  }
  .hamburger {
    position: fixed;
    top: 0%;

    font-size: 30px;
    margin: 20px;
    display: block;
  }
  .logo {
    position: fixed;
    top: 0%;
    /* color: black; */
    font-size: 30px;
    margin: 20px;
    display: block;
    width: 10vw;
    height: 10vh;
  }
  .nav-links {
    position: relative;
    top: 10%;
    width: 100%;
    display: grid;
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
  }
}
