.heading {
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: black;
  font-size: 20px;
  margin-top: 200px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lbtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}
#rbtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}
