html{
  background: url("../images/back.jpg") no-repeat center;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  min-height: 500px;
}

.land{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  margin-left: 85px;
  margin-right: 85px;
  /* padding: 50px; */
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20%;
  line-height: 10px;
  /* margin: 0px; */
  /* margin-bottom: 10px; */
}